*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.flex{display: flex;}
.flexColumn{
    flex-direction: column;
}
.height90{
    height: 90px;
}
.col-100-s{
    width: 100%;
}
.col-3-4-s{
    width: calc( 100% / 4 * 3 );
}
.col-1-4-s{
    width: calc( 100% / 4 );
}
.right{
    background-color: darkgoldenrod;
}
.left{
    height: calc( 100vh - 90px );
    background-color: fuchsia;
}
.centro{
    height: calc( 100vh - 180px );
    background-color: greenyellow;
}
footer{
    background-color: lightseagreen;
}

/**********************************
XS
************************************/
@media screen and ( max-width: 412px ) {
   
}
/**************************************
S
****************************************/
@media screen and ( min-width: 412px ) and ( max-width: 768px ) {
   
}
/*******************************************
M
*********************************************/
@media screen and  ( min-width: 768px ) and ( max-width: 992px ) {

}
/*******************************************
LG
*******************************************/
@media screen and ( min-width: 992px ) {
    .col-1-5-l{
        width: calc( 100% / 5 );
    }
    .col-4-5-l{
        width: calc( 100% / 5 * 4 );
    }
}